*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fffff6;
}

.container{
  max-width: 960px;
  width: 100%;
  margin-top: 16px;
  padding: 16px;
}

.conteudo{
  width: 480px;
}